<style>
	.mdl-card {
		margin-left: auto;
		margin-right: auto;
	}

	.viewer-close {
		text-decoration: none;
		color: rgb(100, 43, 2);
	}
</style>

<div class="mdl-card">

	<div class="mdl-card__title">
		Email me something
	</div>
	<form action="https://formspree.io/lihenantony1997@gmail.com" method="POST">
		<div class="mdl-card__supporting-text">
			<div class="mdl-textfield mdl-js-textfield">
				<input class="mdl-textfield__input" type="text" name="email" id="input-email-address">
				<label class="mdl-textfield__label" for="input-email-address">Your email</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield">
				<textarea class="mdl-textfield__input" type="text" name="content" rows="3" id="input-text"></textarea>
				<label class="mdl-textfield__label" for="input-text">What would you like to say?</label>
			</div>
		</div>
		<div class="mdl-card__actions">
			<button type="submit" value="Send Message" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
				Send
			</button>
		</div>

	</form>

	<div class="mdl-card__menu">
		<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ui-sref="app.home">
			<i class="material-icons">close</i>
		</button>
	</div>
</div>