<style>
	.center {
		line-height: 200px;
		height: 100%;
		text-align: center;
		 /*border: 3px solid green; */
	}
	/* If the text has multiple lines, add the following: */
	
	.center p.title {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		line-height: 50px;
		transform: translate(-50%, -50%);
		font-size: 50px;
		color: white;
		text-shadow: 2px 2px 5px rgb(88, 43, 10);
	}

	.warning {
		background-color: yellow;
		font-size: 15px;
		font-weight: 2em;
		padding: 10px;
	}
</style>

<div class="center">
	<p class="warning">
		The old domain is expired. Current temporary url is <a href="https://mysterytony.github.io">https://mysterytony.github.io</a>.
	</p>
	<P class="title">
		Hi there,<br />{{ time }}
	</p>
</div>