<style>
  .viewer {
    width: auto !important;
    margin-left: 10px;
    margin-right: 10px;
    padding: 50px 0px 0px 20px;
    height: 100%;
  }

  .viewer-close {
    text-decoration: none;
    color: rgb(100, 43, 2);
  }

  #viewer-card {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
</style>

<link rel="stylesheet" type="text/css" href="../style/md.css">

<div class="mdl-card viewer">

  <div class="markdown-body" id="viewer-card">
    <div id="viewer-spinner" class="mdl-spinner mdl-js-spinner is-active"></div>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-click="printContent()">
      <i class="material-icons">print</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ui-sref="app.home">
			<i class="material-icons">close</i>
    </button>
  </div>
</div>